<h2>
  Manter tarefas
</h2>

<fieldset>
  <div>
    <span>Usina:</span>
    <span *ngFor="let usina of usinas">
      <input type="checkbox" (change)="updateCheckedOptions($event, usina)">{{usina.idUsina}}
    </span>
  </div>
  <div>
    <span>Data Inicial:
      <input type="date" [(ngModel)]="filtroEvento.dataInicial" />
    </span>
  </div>
  <div>
    <span>Data Final:
      <input type="date" [(ngModel)]="filtroEvento.dataFinal" />
    </span>
  </div>
  <div>
    <span>
      <button class="button" (click)='pesquisarEventos($event)'>Pesquisar eventos</button>
    </span>
  </div>
</fieldset>

<fieldset>
  <div>
    <span>Número da tarefa:
      <input type="text" [(ngModel)]="nomeTarefa" />
      <button class="button" (click)='inserirTarefa($event)'>Salvar tarefa</button>
    </span>
  </div>
  <div>
    <table border="1">
      <tr>Tarefas</tr>
      <tr *ngFor="let tarefa of tarefas">
        <td>
          {{ tarefa.nome }}
        </td>
        <td>
          <label for="file">Upload da planilha</label><input type="file" (change)='uploadPlanilha(tarefa, $event.target.files)'/>
        </td>
        <td>
          <button class="button" (click)='downloadPlanilha(tarefa, $event)'>Download da planilha</button>
        </td>
        <td>
          <button class="button" (click)='aplicar($event)'>Aplicar</button>
        </td>
      </tr>
    </table>
  </div>
</fieldset>