<h2>Manter Cenário</h2>

<table border="0">
  <tr>
    <td width="1000" style="vertical-align:top">
      <fieldset style="height: 120px">
        <div>
          <span>Nome do Cenário:
            <input type="text" [(ngModel)]="filtroConsulta.nome" />
          </span>
        </div>
        <div>
          <span>Data Inicial:
            <input type="date" [(ngModel)]="filtroConsulta.dataInicial" />
          </span>
        </div>
        <div>
          <span>Data Final:
            <input type="date" [(ngModel)]="filtroConsulta.dataFinal" />
          </span>
        </div>
        <div>
          <span>Ativo:
            <input type="checkbox" [(ngModel)]="filtroConsulta.ativo" />
          </span>
        </div>
        <div>
          <span>
            <button class="button" (click)='pesquisar($event)'>Pesquisar</button>
            <button class="button" (click)='incluir($event)'>Incluir</button>
          </span>
        </div>
      </fieldset>
      <div>
        <span>
          <h2>Cenários:</h2>
          <table border="0" width="1000" class="grid-entidades">
            <tr>
              <th width="130">Id</th>
              <th width="150">Nome</th>
              <th width="90">Dt.Ini Vig.</th>
              <th width="90">Dt.Fim Vig.</th>
              <th>Justificativa</th>
              <th width="50">Usina</th>
              <th width="80">Situação</th>
              <th width="150">Opções</th>
            </tr>
            <tr *ngFor="let cenario of cenarios" style="cursor: pointer">
              <td (click)='alterar(cenario)' [title]="cenario.idCenario">
                {{printIdentify(cenario.idCenario)}}
              </td>
              <td (click)='alterar(cenario)'>
                <b *ngIf="cenarioSelecionado.idCenario == cenario.idCenario">
                  {{ cenario.nomeCenario }}
                </b>
                <span *ngIf="cenarioSelecionado.idCenario != cenario.idCenario">
                  {{ cenario.nomeCenario }}
                </span>
              </td>
              <td (click)='alterar(cenario)'>{{cenario.dataInicioVigencia | date: 'dd/MM/yyyy' }}</td>
              <td (click)='alterar(cenario)'>{{cenario.dataFimVigencia | date: 'dd/MM/yyyy' }}</td>
              <td (click)='alterar(cenario)'>{{cenario.justificativa}}</td>
              <td (click)='alterar(cenario)'>{{cenario.idUsina}}</td>
              <td>{{cenario.situacao}}</td>
              <td>
                <button class="button" (click)='excluir(cenario)'>Excluir</button>
                <button class="button" (click)='ativarInativar(cenario)' *ngIf="cenario.situacao == 'Inativo'" >Ativar</button>
                <button class="button" (click)='ativarInativar(cenario)' *ngIf="cenario.situacao == 'Ativo'" >Inativar</button>
                <button class="button">Incorporar</button>
              </td>
            </tr>
          </table>
        </span>
      </div>
    </td>
  </tr>
</table>