<h2>
  Histórico de taxas</h2>

<table border="0">
  <tr>
    <td width="500" style="vertical-align:top">
      <fieldset style="height: 110px">
        <div>
          <span>Usina:
            <select [(ngModel)]="filtroConsulta.usina">
              <option *ngFor="let usina of usinas" [ngValue]="usina">
                {{usina.nome}}
              </option>
            </select>
          </span>
        </div>
        <div>
          <span>Tipo de taxa:
            <select [(ngModel)]="filtroConsulta.tipoTaxa">
              <option *ngFor="let tipoTaxa of tiposTaxa" [ngValue]="tipoTaxa">
                {{tipoTaxa.nome}}
              </option>
            </select>
          </span>
        </div>
        <div>
          <span>
            Mês Inicial:
            <select [(ngModel)]="filtroConsulta.mesInicial">
              <option *ngFor="let mes of meses" [ngValue]="mes">
                {{mes}}
              </option>
            </select>
            Ano Inicial:
            <input [(ngModel)]="filtroConsulta.anoInicial" size="4"/>
          </span>
        </div>
        <div>
          <span>
            Mês Final:
            <select [(ngModel)]="filtroConsulta.mesFinal">
              <option *ngFor="let mes of meses" [ngValue]="mes">
                {{mes}}
              </option>
            </select>
            Ano Final:
            <input [(ngModel)]="filtroConsulta.anoFinal" size="4"/>
          </span>
        </div>
        <div>
          <span>
            <button class="button" (click)='pesquisar($event)'>Pesquisar</button>
          </span>
        </div>
      </fieldset>
      <div>
        <span>
          <h2>Execuções:</h2>
          <ul>
            <li (click)='expandirExecucao(execucao)' *ngFor="let execucao of execucoes">
              <b *ngIf="execucaoSelecionada.id == execucao.id">
                Execução: {{ execucao.protocolo }} - {{ execucao.dataInicio | date: 'dd/MM/yyyy HH:mm:ss' }}
              </b>
              <span *ngIf="execucaoSelecionada.id != execucao.id" style="cursor: pointer">
                Execução: {{ execucao.protocolo }} - {{ execucao.dataInicio | date: 'dd/MM/yyyy HH:mm:ss' }}
              </span>
            </li>
          </ul>
        </span>
      </div>

      <div>
        <span>
          <h2>Fechamento: </h2>
          Mês: {{ fechamentoMensal.mes }} Ano: {{ fechamentoMensal.ano }}
          <h2>Taxas: </h2>
          <ul>
            <li *ngFor="let taxa of taxas">
              <a href="{{linkMemoriaTaxa(taxa)}}">Valor: {{ (taxa.valor?taxa.valor:0) }}</a>
              <input type="button" (click)="reproduzirCalculoTaxa(taxa)" value="Reproduzir" /> ({{printIdentify(taxa._metadata.instance_id)}})
            </li>
          </ul>
        </span>
      </div>
    </td>
    <td style="vertical-align:top; max-width: 350px;">
      <fieldset style="height: 110px;">
        <div>
          <span>
            <b>Solicitar Cálculo de Taxas</b>
            <br>
            <br>
          </span>
        </div>
        <div>
          <table>
            <tr>
              <th>Mês:</th>
              <td><input type="text" size="4" [(ngModel)]="fechamentoParaCalculo.mes" /></td>
              <th>Mês Intervalo:</th>
              <td><input type="text" size="4" [(ngModel)]="fechamentoParaCalculo.mesIntervalo" /></td>
            </tr>
            <tr>
              <th>Ano:</th>
              <td><input type="text" size="4" [(ngModel)]="fechamentoParaCalculo.ano" /></td>
              <th>Ano Intervalo:</th>
              <td><input type="text" size="4" [(ngModel)]="fechamentoParaCalculo.anoIntervalo" /></td>
            </tr>
          </table>
        </div>
        <div>
          <span>
            <button class="button" (click)='calcularTaxas($event)'>Solicitar Cálculo</button>
          </span>
        </div>
      </fieldset>
      <br>
      <fieldset>
        <div>
          <span>
            <b>Reprodução</b>
            <br>
          </span>
        </div>
        <div>
          <span>
            <ul>
              <li *ngFor="let reproducao of reproducoes">
                <a href="{{linkResultadoReproducao(reproducao)}}">{{ reproducao.start_date | date: 'dd/MM/yyyy HH:mm:ss' }}</a>
                ({{printIdentify(reproducao.originalId)}})
              </li>
            </ul>
          </span>
        </div>
      </fieldset>
      <br>
      <fieldset>
        <div>
          <span>
            <b>Eventos de Negócio</b>&nbsp;
            <input size="1" type="text" [(ngModel)]="filterEvts.horas" />h
            &nbsp;/&nbsp;
            Qtd.Evts:&nbsp;<input size="1" type="text" [(ngModel)]="filterEvts.qtd" />
            <br>
          </span>
        </div>
        <div>
          <span>
            <ul>
              <li *ngFor="let bevent of businessEvents">
                <b>{{bevent.data | date: 'dd/MM/yyyy HH:mm:ss'}}:</b> {{bevent.msg}}
              </li>
            </ul>
          </span>
        </div>
      </fieldset>
    </td>
  </tr>
</table>