<h2> Consultar taxas</h2>
<div>
  <span>Usina:
    <select [(ngModel)]="filtroConsulta.usina">
      <option *ngFor="let usina of usinas" [ngValue]="usina">
        {{usina.nome}}
      </option>
    </select>
  </span>
</div>
<div>
  <span>Data Inicial:
    <input type="text" [(ngModel)]="filtroConsulta.dataInicial" />
  </span>
</div>
<div>
  <span>Data Final:
    <input type="text" [(ngModel)]="filtroConsulta.dataFinal" />
  </span>
</div>
<div>
  <span>Tipo de taxa:
    <select [(ngModel)]="filtroConsulta.tipoTaxa">
      <option *ngFor="let tipoTaxa of tiposTaxa" [ngValue]="tipoTaxa">
        {{tipoTaxa}}
      </option>
    </select>
  </span>
</div>
<div>
  <span>
    <button (click)='pesquisar($event)'>Pesquisar</button>
  </span>
</div>

<div>
  <span>
    <h2>Histórico de taxas:</h2>
    <ul>
      <li (click)='expandirCenario(cenario)' *ngFor="let cenario of historicoTaxas">
        Cenário: {{ cenario.nome }} 
      </li>
    </ul>
  </span>
</div>

<div>
  <span>
    <h2>Cenário: {{ cenarioSelecionado.nome }}</h2>
    <ul>
    </ul>
  </span>
</div>