<h2>Histórico de taxas</h2>
<fieldset>
  <div>
    <span>Usina:
      <select [(ngModel)]="filtroConsulta.usina">
        <option *ngFor="let usina of usinas" [ngValue]="usina">
          {{usina.nome}}
        </option>
      </select>
    </span>
  </div>
  <div>
      <span>Tipo de taxa:
        <select [(ngModel)]="filtroConsulta.tipoTaxa">
          <option *ngFor="let tipoTaxa of tiposTaxa" [ngValue]="tipoTaxa">
            {{tipoTaxa.nome}}
          </option>
        </select>
      </span>
    </div>
  <div>
    <span>Data Inicial:
      <input type="date" [(ngModel)]="filtroConsulta.dataInicial" />
    </span>
  </div>
  <div>
    <span>Data Final:
      <input type="date" [(ngModel)]="filtroConsulta.dataFinal" />
    </span>
  </div>
  <div>
    <span>
      <button class="button" (click)='pesquisar($event)'>Pesquisar</button>
    </span>
  </div>
</fieldset>

<div>
  <span>
    <h2>Execuções:</h2>
    <ul>
      <li (click)='expandirExecucao(execucao)' *ngFor="let execucao of execucoes">
        Execução: {{ execucao.protocolo }}
      </li>
    </ul>
  </span>
</div>

<div>
  <span>
    <h2>Fechamento: </h2>
    Mês: {{ fechamentoMensal.mes }} Ano: {{ fechamentoMensal.ano }}
    <h2>Taxas: </h2>
    <ul>
      <li *ngFor="let taxa of taxas">
        <a href="{{environment.urlServerPresentation + environment.downloadMemoriaProcessamentoXlsx + '?idinstance=' + taxa._metadata.instance_id + '&idtaxa=' + taxa.id}}">Valor: {{ taxa.valor }}</a>
      </li>
    </ul>
  </span>
</div>